// COLORS
$primary-color: #0282F8;
$secondary-color: #222;
$dark-color: #303030;
$white-color: #fff;

$txt-dark: #222;
$txt-light: #fff;
$txt-blue: #0282F8;

// FONT SIZE
$fs-xs: 0.8rem;    // 12.8px
$fs-s: 0.9rem;     // 14.4px
$fs-lg: 1.1rem;    // 17.6px
$fs-xl: 1.3rem;    // 20.8px
$fs-xxl: 1.5rem;   // 24px

// TEXT WEIGHT
$bold: 600;
$light: 400;


